[submodule "Cauldron"]
	path = Cauldron
	url = git@github.com:whatevermarch/Cauldron.git
	branch = dev
[submodule "res/Cauldron-Media"]
	path = res/Cauldron-Media
	url = https://github.com/GPUOpen-LibrariesAndSDKs/Cauldron-Media.git
	branch = master
